#chatContainer {

  height: 100%;
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;

  ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 3px;

    .userJoin {
      font-weight: lighter;
      color: beige;
    }

    .userTime {
      font-weight: lighter;
      color: beige;
    }

    .userText {
    }

    .userLabel{
      font-weight: bold;
      margin-right: 10px;
      color: darkgreen;
    }
  }
}

#userList{
  ul{
    padding: 0;
  }
  li{
    list-style-type: none;
    text-align: center;
  }
}