<simple-notifications [options]="options"></simple-notifications>
<div class="widgets">
    <ba-card title="Userliste" baCardClass="with-scroll">
        <a style="cursor: pointer" (click)='downloadCSV({ filename: "kjgaming-Userlist.csv" });'>Download CSV</a>
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>Name</th>
                    <th>Alter</th>
                    <th>LAN Manager</th>
                    <th>Benutzerrolle</th>
                    <th>LAN Packet</th>
                    <th></th>
                    <th>LAN Kosten</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users" class="memberList" valign="middle">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>
                    <ui-switch [(ngModel)]="user.lock" (change)="switchSave('lock',$event, user.id)"></ui-switch>
                </td>
                <td>
                    <select class="form-control" (change)="switchSave('role',$event.srcElement.value, user.id)">
                        <option value="0" [selected]="user.role == 0 ? true : null">User</option>
                        <option value="1" [selected]="user.role == 1? true : null">ORGA</option>
                        <option value="2" [selected]="user.role == 2? true : null">Admin</option>
                    </select>
                </td>
                <td>
                    <ui-switch [(ngModel)]="user.packetPaid"
                               (change)="switchSave('packetPaid',$event, user.id)"></ui-switch>
                </td>
                <td>{{user.packetSum}} €</td>
                <td>
                    <ui-switch [(ngModel)]="user.lanPaid" (change)="switchSave('lanPaid',$event, user.id)"></ui-switch>
                </td>
                <td>{{user.lanSum}} €</td>
            </tr>
            </tbody>
        </table>

    </ba-card>
</div>
