.tournamentColumn3 {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  padding-bottom: 240px;
}

.team2 {
  fill: rgba(0, 0, 0, 0);
  &:hover {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.team1 {
  fill: rgba(0, 0, 0, 0);
  &:hover {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.text {
  font-size: 15px;
}

.bracket {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.row1, .row2, .row3, .row4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c_Team1 {
  &:hover {
    fill: red;
  }
}

.divBorder {
  display: flex;
  flex-direction: column;

  .borderRow1 {
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;

    .firstBorderRow1 {
      margin-top: 37px;
      width: 20px;
      height: 65px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .secondBorderRow1 {
      margin-top: 70px;
      width: 20px;
      border-top: 1px solid black;
    }
  }
  .borderRow2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 61px;

    .firstBorderRow2 {
      margin-top: 67px;
      width: 20px;
      height: 132px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .secondBorderRow2 {
      margin-top: 135px;
      width: 20px;
      border-top: 1px solid black;
    }
  }
  .borderRow3 {
    display: flex;
    flex-direction: row;

    .firstBorderRow3 {
      margin-top: 135px;
      width: 20px;
      height: 262px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .secondBorderRow3 {
      margin-top: 270px;
      width: 20px;
      border-top: 1px solid black;
    }
  }
}

#game9, #game10, #game11, #game12 {
  margin-top: 39px;
  padding-bottom: 26px;
}

#game13, #game14 {
  margin-top: 106px;
  padding-bottom: 90px;
}

#game15 {
  margin-top: 240px;
  margin-bottom: 50px;
}



.popover {
  max-width: 400px;
  width: 400px;
  .popover-title{
    text-align: center;
  }
  .popoverOverviewTable{
    .t_info{
      font-weight: bold;
    }
    .t_player{
      font-size: 12px;
    }
    .t_input{
      display: flex;
      flex-direction: row;
      input{
        width: 40px;
        text-align: center;
      }
      span{
        margin-left: 2px;
        margin-right: 2px;
      }
    }
    ul{
      list-style-type: none;
      padding: 0;
    }
  }
}
