<simple-notifications [options]="options"></simple-notifications>
<div class="bracket">
    <div id="row1">
		<div *ngFor="let game of row1; let i = index">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px"
                    viewBox="0 0 281 81" width="200px" height="80px" xml:space="preserve"
                    preserveAspectRatio="xMaxYMax">
				<rect class="team1"  y="0" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="17" text-anchor="middle" alignment-baseline="central">
						{{game.team1}}
					</text>
				</g>
				<rect class="team2" y="38" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="59" text-anchor="middle" alignment-baseline="central">
						{{game.team2}}
					</text>
				</g>
                    <rect class="team1_result" x="225" y="0" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="20" text-anchor="middle" alignment-baseline="central">
                            {{game.result1}}
                        </text>
                    </g>

                    <rect class="team2_result" x="225" y="38" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="59" text-anchor="middle" alignment-baseline="central">
                            {{game.result2}}
                        </text>
                    </g>
					<rect x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="280" height="80"/>

				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-539.0098" y1="1292.9006" x2="-431.0098" y2="1292.9006" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" x1="0" y1="40.5" x2="108" y2="40.5"/>
				<rect x="109.52" y="27.77" fill="none" width="8.46" height="5.46"/>
				<text transform="matrix(1 0 0 1 108.5215 40.1047)" font-family="'Calibri-Bold'" font-size="7.8674">VS</text>
				<line fill="none" stroke="#000000" stroke-miterlimit="1" stroke-dasharray="2,2" x1="224.5" y1="0" x2="224.5" y2="81"/>

				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-315.0107" y1="1292.9016" x2="-419.0107" y2="1292.9016" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_2_)" stroke-miterlimit="10" x1="120" y1="40.5" x2="224" y2="40.5"/>
				</svg>
		</div>
    </div>
    <div class="divBorder">
        <div class="borderRow1" *ngFor="let key of repeat4">
            <div class="firstBorderRow1"></div>
            <div class="secondBorderRow1"></div>
        </div>
    </div>
    <div id="row2">
        <div *ngFor="let game of row2; let i = index">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px"
                    viewBox="0 0 281 81" width="200px" [attr.height]="game.height + 'px'" xml:space="preserve"
                    preserveAspectRatio="xMaxYMax">
				<rect class="team1"  y="0" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="17" text-anchor="middle" alignment-baseline="central">
						{{game.team1}}
					</text>
				</g>
				<rect class="team2" y="38" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="59" text-anchor="middle" alignment-baseline="central">
						{{game.team2}}
					</text>
				</g>
                    <rect class="team1_result" x="225" y="0" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="20" text-anchor="middle" alignment-baseline="central">
                            {{game.result1}}
                        </text>
                    </g>

                    <rect class="team2_result" x="225" y="38" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="59" text-anchor="middle" alignment-baseline="central">
                            {{game.result2}}
                        </text>
                    </g>
					<rect x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="280" height="80"/>

				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-539.0098" y1="1292.9006" x2="-431.0098" y2="1292.9006" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" x1="0" y1="40.5" x2="108" y2="40.5"/>
				<rect x="109.52" y="27.77" fill="none" width="8.46" height="5.46"/>
				<text transform="matrix(1 0 0 1 108.5215 40.1047)" font-family="'Calibri-Bold'" font-size="7.8674">VS</text>
				<line fill="none" stroke="#000000" stroke-miterlimit="1" stroke-dasharray="2,2" x1="224.5" y1="0" x2="224.5" y2="81"/>

				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-315.0107" y1="1292.9016" x2="-419.0107" y2="1292.9016" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_2_)" stroke-miterlimit="10" x1="120" y1="40.5" x2="224" y2="40.5"/>
				</svg>
        </div>
    </div>
    <div class="divBorder">
        <div class="borderRow2">
            <div class="firstBorderRow2"></div>
            <div class="secondBorderRow2"></div>
        </div>
        <div class="borderRow2">
            <div class="firstBorderRow2"></div>
            <div class="secondBorderRow2"></div>
        </div>
    </div>
    <div id="row3">
        <div *ngFor="let game of row3; let i = index">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px"
                    viewBox="0 0 281 81" width="200px" [attr.height]="game.height + 'px'" xml:space="preserve"
                    preserveAspectRatio="xMaxYMax">
				<rect class="team1"  y="0" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="17" text-anchor="middle" alignment-baseline="central">
						{{game.team1}}
					</text>
				</g>
				<rect class="team2" y="38" fill="none" width="224" height="40" (click)="openMatchInfo(game)"/>
				<g class="text">
					<text class="textName" x="112" y="59" text-anchor="middle" alignment-baseline="central">
						{{game.team2}}
					</text>
				</g>
                    <rect class="team1_result" x="225" y="0" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="20" text-anchor="middle" alignment-baseline="central">
                            {{game.result1}}
                        </text>
                    </g>

                    <rect class="team2_result" x="225" y="38" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="59" text-anchor="middle" alignment-baseline="central">
                            {{game.result2}}
                        </text>
                    </g>
					<rect x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="280" height="80"/>

				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-539.0098" y1="1292.9006" x2="-431.0098" y2="1292.9006" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" x1="0" y1="40.5" x2="108" y2="40.5"/>
				<rect x="109.52" y="27.77" fill="none" width="8.46" height="5.46"/>
				<text transform="matrix(1 0 0 1 108.5215 40.1047)" font-family="'Calibri-Bold'" font-size="7.8674">VS</text>
				<line fill="none" stroke="#000000" stroke-miterlimit="1" stroke-dasharray="2,2" x1="224.5" y1="0" x2="224.5" y2="81"/>

				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-315.0107" y1="1292.9016" x2="-419.0107" y2="1292.9016" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_2_)" stroke-miterlimit="10" x1="120" y1="40.5" x2="224" y2="40.5"/>
				</svg>
		</div>
    </div>
    <div class="divBorder">
        <div class="borderRow3">
            <div class="firstBorderRow3"></div>
            <div class="secondBorderRow3"></div>
        </div>
    </div>
    <div id="row4">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px"
                    viewBox="0 0 281 81" width="200px" height="368px" xml:space="preserve"
                    preserveAspectRatio="xMaxYMax">
				<rect class="team1"  y="0" fill="none" width="224" height="40" (click)="openMatchInfo(games['Runde 15'])"/>
				<g class="text">
					<text class="textName" x="112" y="17" text-anchor="middle" alignment-baseline="central">
						{{games['Runde 15']['team1']}}
					</text>
				</g>
				<rect class="team2" y="38" fill="none" width="224" height="40" (click)="openMatchInfo(games['Runde 15'])"/>
				<g class="text">
					<text class="textName" x="112" y="59" text-anchor="middle" alignment-baseline="central">
						{{games['Runde 15']['team2']}}
					</text>
				</g>
                    <rect class="team1_result" x="225" y="0" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="20" text-anchor="middle" alignment-baseline="central">
                            {{games['Runde 15']['result1']}}
                        </text>
                    </g>

                    <rect class="team2_result" x="225" y="38" fill="none" width="55" height="40"/>
                    <g class="text">
                        <text class="textResult" x="250" y="59" text-anchor="middle" alignment-baseline="central">
                            {{games['Runde 15']['result2']}}
                        </text>
                    </g>
					<rect x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="280" height="80"/>

				<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-539.0098" y1="1292.9006" x2="-431.0098" y2="1292.9006" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_1_)" stroke-miterlimit="10" x1="0" y1="40.5" x2="108" y2="40.5"/>
				<rect x="109.52" y="27.77" fill="none" width="8.46" height="5.46"/>
				<text transform="matrix(1 0 0 1 108.5215 40.1047)" font-family="'Calibri-Bold'" font-size="7.8674">VS</text>
				<line fill="none" stroke="#000000" stroke-miterlimit="1" stroke-dasharray="2,2" x1="224.5" y1="0" x2="224.5" y2="81"/>

				<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-315.0107" y1="1292.9016" x2="-419.0107" y2="1292.9016" gradientTransform="matrix(1 0 0 -1 539.0098 1323.4009)">
				<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
				<stop  offset="0.7422" style="stop-color:#000000"/>
				</linearGradient>
				<line fill="none" stroke="url(#SVGID_2_)" stroke-miterlimit="10" x1="120" y1="40.5" x2="224" y2="40.5"/>
				</svg>
    </div>
</div>

<modal id="matchModal" #match>
	<modal-header [show-close]="true">
		<h4 class="modal-title">Spiel {{selectMatch.gameId}}</h4>
	</modal-header>
	<modal-body class="matchModalBody">
		<div class="matchModalResult"
			 *ngIf="userStatus == 481 || (selectMatch.isInClan == true && selectMatch.resultSave == false)">
			<table class="table table-striped table-bordered">
				<tbody>
				<tr>
					<td>{{selectMatch.team1}}</td>
					<td style="width: 50px;">
						<input [(ngModel)]="selectMatch.result1" class="matchInput" type="number" autocomplete="off">
					</td>
				</tr>
				<tr>
					<td>{{selectMatch.team2}}</td>
					<td style="width: 50px;">
						<input [(ngModel)]="selectMatch.result2" class="matchInput" type="number" autocomplete="off">
					</td>
				</tr>
				</tbody>
			</table>
			<p class="looserText">Nur der Verlierer kann das Ergebnis eintragen!</p>
			<div class="submitButton">
				<button type="button" class="btn btn-success" (click)="saveGameResult(selectMatch)">Submit Scores</button>
			</div>
		</div>
		<div class="matchModalInfo">
			<div class="matchup">
				<div class="infoTeam">
					<div class="contents" [ngClass]="whoIsWinner(selectMatch, 'team1')">
						<div class="teamName">{{selectMatch.team1}}</div>
					</div>
				</div>
				<div class="infoVersus">vs</div>
				<div class="infoTeam">
					<div class="contents" [ngClass]="whoIsWinner(selectMatch, 'team2')">
						<div class="teamName">{{selectMatch.team2}}</div>
					</div>
				</div>
			</div>
			<div class="overallScore">
				<div class="score">
					<div class="contents">{{selectMatch.result1}}</div>
				</div>
				<div class="divider">&nbsp;</div>
				<div class="score">
					<div class="contents">{{selectMatch.result2}}</div>
				</div>
			</div>
			<div class="matchInfo">
				<div class="info" *ngIf="selectMatch.timeStart">
					<div class="infoTitle">Zeit:</div>
					<div class="infoContent">{{selectMatch.timeStart | date: 'short'}}</div>
				</div>
				<div class="info" *ngIf="selectMatch.map">
					<div class="infoTitle">Map:</div>
					<div class="infoContent">{{selectMatch.map}}</div>
				</div>
			</div>
		</div>
	</modal-body>
</modal>


