# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: KjGaming LAN Manager API
  description: The API interface for the KjGaming LAN Party
  version: "0.0.2"
# the domain of the service
host: lan.kjgaming.de
# array of all schemes that your API supports
schemes:
  - https
# will be prefixed to all paths
basePath: /api
produces:
  - application/json
paths:
  /registration:
    put:
      summary: Register a new User
      description: |
        With this path you can register a new user.
      parameters:
        - name: body
          in: body
          description: User Object for a new User
          required: true
          schema:
            $ref: '#/definitions/regUser'
      tags:
        - user
        - register
      responses:
        201:
          description: An array of products
          schema:
              $ref: '#/definitions/user'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /signin:
    post:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/user:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/user/all:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/user/change:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/user/seat:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
    post:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /admin/user:
     get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /admin/user/:id:
     get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'

  /reg/news:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      tags:
        - news
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/server:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/sendMail:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/event:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/clan:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/catering:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
  /reg/tournament:
    get:
      summary: Signin in the LAN Manager
      description: |
        With this path you can register a new user.
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
definitions:
  regUser:
    type: object
    properties:
      nickName:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      birth:
        type: string
      password:
        type: string
      email:
        type: string
      role:
        type: string
      agb:
        type: string
      street:
        type: string
      city:
        type: string
      nr:
        type: number
      postalCode:
        type: number
      packetId:
        type: number
      lanFood:
        type: string
      lanVegi:
        type: boolean
      packetPaid:
        type: boolean
      packetPrice:
        type: number

  user:
    type: object
    properties:
      nickName:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      birth:
        type: string
      email:
        type: string
      seat:
        type: number
      password:
        type: string
      role:
        type: number
      lock:
        type: boolean
      agb:
        type: boolean
      address:
        type: object
        properties:
          street:
            type: string
          nr:
            type: number
          postalCode:
            type: number
          city:
            type: string
      clan:
        type: array
        items:
          "$ref": "#/definitions/clan"
      lan:
        type: object
        properties:
          packet:
            type: object
            properties:
              id:
                type: number
              paid:
                type: boolean
              price:
                type: number
          food:
            type: string
          vegi:
            type: boolean
          sum:
            type: number
          paid:
            type: boolean

  clan:
    type: object
    properties:
      name:
        type: string
      shortName:
        type: string
      password:
        type: string
      user:
        type: string
        description: User ID Array
      admin:
        type: string
        description: User Admin ID

  Error:
    type: object
    properties:
      title:
        type: string
      error:
        properties:
          message:
            type: string
