<ba-card title="Server hinzufügen" class="col-xl-4">
    <form [formGroup]="formAdd" (ngSubmit)="addServer(formAdd.value)" class="form-horizontal">
        <div class="form-group row">
            <label for="addTitle" class="col-xs-3 col-form-label">Titel</label>
            <div class="col-xs-9">
                <input [formControl]="title" type="text" class="form-control" id="addTitle" placeholder="Teamspeak 3">
            </div>
        </div>
        <div class="form-group row">
            <label for="addContent" class="col-xs-3 col-form-label">Beschreibung</label>
            <div class="col-xs-9">
                <input [formControl]="content" type="text" class="form-control" id="addContent"
                       placeholder="Eine kleine Beschreibung">
            </div>
        </div>
        <div class="form-group row">
            <label for="addMode" class="col-xs-3 col-form-label">Modus</label>
            <div class="col-xs-9">
                <input [formControl]="mode" type="text" class="form-control" id="addMode"
                       placeholder="Spiel, Voice usw.">
            </div>
        </div>
        <div class="form-group row">
            <label for="addIp" class="col-xs-3 col-form-label">IP</label>
            <div class="col-xs-9">
                <input [formControl]="ip" type="text" class="form-control" id="addIp" placeholder="192.168.1.1">
            </div>
        </div>
        <div class="form-group row">
            <label for="addIp" class="col-xs-8 col-form-label">Status</label>
            <div class="col-xs-4">
                <ui-switch [formControl]="status" color="green"></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-mm pull-right">Server erstellen</button>
        </div>

    </form>
</ba-card>
<ba-card title="Server bearbeiten" class="col-xl-4">
    <form [formGroup]="formEdit" (ngSubmit)="addServer(formEdit.value)" class="form-horizontal">
        <div class="form-group row">
            <label for="exampleSelect2" class="col-xs-3">Server</label>
            <div class="col-xs-9">
                <select [formControl]="server" class="form-control" id="editServer">
                    <option *ngIf="let server of allServer">{{server}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="editTitle" class="col-xs-3 col-form-label">Titel</label>
            <div class="col-xs-9">
                <input [formControl]="title" type="text" class="form-control" id="editTitle" placeholder="Teamspeak 3">
            </div>
        </div>
        <div class="form-group row">
            <label for="editContent" class="col-xs-3 col-form-label">Beschreibung</label>
            <div class="col-xs-9">
                <input [formControl]="content" type="text" class="form-control" id="editContent"
                       placeholder="Eine kleine Beschreibung">
            </div>
        </div>
        <div class="form-group row">
            <label for="editMode" class="col-xs-3 col-form-label">Modus</label>
            <div class="col-xs-9">
                <input [formControl]="mode" type="text" class="form-control" id="editMode"
                       placeholder="Spiel, Voice usw.">
            </div>
        </div>
        <div class="form-group row">
            <label for="editIp" class="col-xs-3 col-form-label">IP</label>
            <div class="col-xs-9">
                <input [formControl]="ip" type="text" class="form-control" id="editIp" placeholder="192.168.1.1">
            </div>
        </div>
        <div class="form-group row">
            <label for="editStatus" class="col-xs-8 col-form-label">Status</label>
            <div class="col-xs-4">
                <ui-switch [formControl]="status" color="green" id="editStatus"></ui-switch>
            </div>
        </div>
        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-mm pull-right">Server erstellen</button>
        </div>

    </form>
</ba-card>
<ba-card title="Server löschen" class="col-xl-4">
    <form [formGroup]="formDel" (ngSubmit)="addServer(formDel.value)" class="form-horizontal">

        <div class="form-group row">
            <button type="submit" class="btn btn-primary btn-mm pull-right">Server erstellen</button>
        </div>

    </form>
</ba-card>
