<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
            <th class="align-left">Titel</th>
            <th class="align-left">Text</th>
            <th class="align-left">IP</th>
            <th class="align-left">Mode</th>
            <th class="align-left">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let server of servers; let i = index" class="no-top-border tableRow"
            [ngClass]="isClassVisible(server.status)">
            <td *ngIf="server.server" class="align-left">{{server.title}}</td>
            <td *ngIf="server.server" class="align-left">{{server.content}}</td>
            <td *ngIf="server.server" class="align-left">{{server.server.ip}}</td>
            <td *ngIf="server.server" class="align-left">{{server.server.mode}}</td>
            <td *ngIf="server.server" class="align-left">{{(server.status == true? "ON":"OFF")}}</td>
        </tr>
        </tbody>
    </table>
</div>
