<section class="content">
    <ul class="timeline">
        <li *ngFor="let _news of news">
            <i class="fa fa-{{_news.icon.look}} bg-color-{{_news.icon.color}}"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{_news.time | date:'short'}}</span>

                <h3 class="timeline-header"><b>{{_news.title}}</b></h3>
                <div class="timeline-body" [innerHTML]="_news.content"></div>
            </div>
        </li>



        <li>
            <i class="fa fa-stop bg-gray"></i>
        </li>
    </ul>
</section>