@import '../../tournament';

/** svg styling **/
.textName{
  font-size:18px;
}

.textResult{
  font-size:18px;
  font-weight: bold;
}

.tournamentRow {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.c_Team1 {
  &:hover {
    fill: red;
  }
}

.divBorder {
  display: flex;
  flex-direction: column;

  .borderRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 27px;
    margin-top: 15px;

    .firstBorderRow {
      margin-top: 29px;
      width: 30px;
      height: 83px;
      border-right: 1px solid black;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
    }

    .secondBorderRow {
      margin-top: 69px;
      width: 30px;
      border-top: 1px solid black;
    }
  }
}

