<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
            <th>#</th>
            <th class="align-left">Nickname</th>
            <th class="align-left">Vorname</th>
            <th class="align-left">Platznummer</th>
            <th class="align-left">Rolle</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index" class="no-top-border">
            <td class="align-left">{{i + 1}}</td>
            <td class="align-left">{{user.nickName}}</td>
            <td class="align-left">{{user.firstName}}</td>
            <td class="align-left">{{user.seat}}</td>
            <td class="align-left">{{user.role}}</td>
        </tr>
        </tbody>
    </table>
</div>
