<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
    <a routerLink="/pages/dashboard" class="al-logo clearfix"><span>KjG</span>aming</a>
    <a (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a>

    <div class="dropdown al-user-profile">
        <a class="profile-toggle-link dropdown-toggle nickname" id="user-profile-dd" data-toggle="dropdown"
           aria-expanded="false">
            {{nickName}}
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
            <li class="dropdown-item"><i class="dropdown-arr"></i></li>
            <li class="dropdown-item"><a href><i class="fa fa-user"></i>Profile</a></li>
            <li class="dropdown-item"><a href><i class="fa fa-cog"></i>Settings</a></li>
            <li class="dropdown-item"><a class="signout" (click)="onLogout()"><i class="fa fa-power-off"></i>Sign
                out</a></li>
        </ul>
    </div>
</div>
