<simple-notifications [options]="options"></simple-notifications>
<div class="row">
    <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
             title="Clan erstellen">
        <clan-creat></clan-creat>
    </ba-card>

    <ba-card class="col-xlg-6 col-xl-6 col-lg-12 col-sm-12 col-xs-12"
             title="Clan editieren">
        <clan-edit></clan-edit>
    </ba-card>
</div>
<div class="row">
    <ba-card title="CLanliste" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <clan-show></clan-show>
    </ba-card>
</div>



