<simple-notifications [options]="options"></simple-notifications>
<div class="row">
    <ba-card title="Erstelle eine Seite" class="col-md-12">
        <div class="row">
            <div class="form-group col-md-3">
                <label for="sideName">Seitenname</label>
                <input type="text" class="form-control" id="sideName" placeholder="Name der Seite"
                       [(ngModel)]="sideName">
            </div>
            <div class="btnCreate col-md-2">
                <button type="button" (click)="createSide()" class="btn btn-success pull-right">erstellen</button>
            </div>
        </div>
    </ba-card>
    <ba-card class="col-md-6" title="Seiten ändern">
        <table class="table">
            <thead class="thead-inverse">
            <tr>
                <th>Name</th>
                <th>Freigeschalten</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let side of sides" class="memberList" valign="middle">
                <td>{{side.name}}</td>
                <td>
                    <ui-switch [(ngModel)]="side.lock" (change)="switchSave($event, side._id)"></ui-switch>
                </td>
            </tr>
            </tbody>
        </table>
    </ba-card>
</div>

