.btnCreate{
  .btn{
    margin-top: 26px !important;
  }
}

.btnEdit{
  button{
    margin-left: 5px;
    margin-right: 5px;
  }
  i{
    font-size: 25px;
  }
}

.createT{
  margin-top: 26px !important;
}

.noInput {
  border-color: red;
}