<div class="horizontal-scroll">
	<div class="tournamentColumn" *ngFor="let item of round">
		<svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="281" height="61" viewBox="0 0 281 61" enable-background="new 0 0 281 61" xml:space="preserve">
	<rect x="0.5" y="0.5" fill="none" stroke="#000000" stroke-miterlimit="10" width="280" height="60"/>
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="0" y1="28.5" x2="108" y2="28.5">
		<stop  offset="0.1277" style="stop-color:#FFFFFF;stop-opacity:0"/>
		<stop  offset="0.7422" style="stop-color:#000000"/>
	</linearGradient>
	<linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="0" y1="28.5" x2="108" y2="28.5">
		<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="0.7422" style="stop-color:#000000"/>
	</linearGradient>
	<line fill="url(#SVGID_1_)" stroke="url(#SVGID_2_)" stroke-miterlimit="10" x1="0" y1="28.5" x2="108" y2="28.5"/>
	<rect x="109.52" y="25.77" fill="none" width="8.46" height="5.46"/>
	<text transform="matrix(1 0 0 1 109.5215 31.105)" font-family="'Calibri-Bold'" font-size="7.8674">VS</text>
	<line fill="none" stroke="#000000" stroke-miterlimit="1" stroke-dasharray="2,2" x1="224.5" y1="0" x2="224.5" y2="61"/>
	<linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="224" y1="28.5" x2="120" y2="28.5">
		<stop  offset="0.1277" style="stop-color:#000000;stop-opacity:0"/>
		<stop  offset="0.7422" style="stop-color:#000000"/>
	</linearGradient>
	<line fill="none" stroke="url(#SVGID_3_)" stroke-miterlimit="10" x1="120" y1="28.5" x2="224" y2="28.5"/>
</svg>
	</div>
	<object type="image/svg+xml" data="assets/img/svg/tournament.svg" class="logo">
		<!-- fallback image in CSS -->
	</object>
</div>
