.tournament{
  background-color: #555555;
  height: 150px;
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  > .status{
    color: white;
    float: right;
    font-size: 16px;
    padding: 5px;
    position: relative;
    overflow: visible;
    background: rgba(0, 0, 0, 0.5);

    .statusOn{
      color: green;
    }

    .statusOff{
      color: red;
    }

    .statusReg{
      color: orange;
    }

    .statusEnd{
      color: blue;
    }

    .fa-circle{
      margin-right: 2px;
    }
  }

  > .title{
    padding: 15px;
    padding-bottom: 0px;
    font-size: 25px;
    color: white;
  }

  > .subTitle{
    padding: 15px;
    padding-top: 8px;
    font-size: 10px;
    color: white;
    margin-bottom: 6.5px;
  }

  > .content{
    position: relative;
    overflow: visible;
    padding: 15px;

    > .places{
      color: white;
      font-size: 35px;
    }
  }

  .smallBox{
    position: relative;
    text-align: center;
    padding: 5px 0;
    color: rgba(255, 255, 255, 1);
    display: block;
    z-index: 10;
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 18px;
    &:hover{
      background: rgba(255, 255, 255, 0.6);
      color: #000000;
      cursor: pointer;
    }
  }
}

/** Match Modal **/
#matchModal{
  .modal-header{
    background-color: #272a33;
    border-bottom: 1px solid #31333c !important;
    color: white;
    .close{
      color: white;
    }
  }
  .matchModalBody{
    background-color: #272a33;
    color: white;

    .looserText{
      font-size: 12px;
      color: white;
      text-align: center;
    }
    .submitButton{
      text-align: center;
    }

    .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: #292e3a;
    }

    .table{
      width: 100%;
      max-width: 100%;
      margin-bottom: 20px;
      td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        text-align: left !important;
        border: 1px solid #343946;

      }
    }
    .matchInput{
      width: 45px;
      padding-left: 5px;
      padding-right: 3px;
    }
  }

  .matchModalResult{
    border-bottom: 1px solid #343946;
    padding-bottom: 10px;
  }

  .matchModalInfo{
    margin-top: 10px;
  }

  .matchup{
    clear: both;
    .infoTeam{
      width: 45%;
      float: left;
      text-align: center;
      .contents{
        background-color: #23252d;
        border: 1px solid #1c1e25;
        padding: 10px 5px;
      }
      .winner{
        border-top-color: #ff7324;
      }
      .teamName{
        display: inline-block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .infoVersus{
      width: 10%;
      padding-top: 13px;
      font-weight: bold;
      color: #999;
      float: left;
      text-align: center;
    }
  }

  .overallScore{
    clear: both;
    .score{
      width: 45%;
      float: left;
      text-align: center;
      .contents{
        background-color: #393d4a;
        font-size: 16px;
        line-height: 13px;
        padding: 8px 0;
        border: 1px solid #1c1e25;
        border-top: 0;
      }
    }
    .divider{
      width: 10%;
      float: left;
      text-align: center;
      color: #666;
    }
  }

  .matchInfo{
    color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    .info{
      clear: both;
      width: 100%;
      .infoTitle{
        float: left;
        width: 20%;
        font-size: 16px;
        font-weight: bold;
      }
      .infoContent{
        float: left;
        width: 80%;
        font-size: 16px;
      }
    }

  }
}

/** Global Match Settings **/
.team2 {
  fill: rgba(0, 0, 0, 0);
  cursor: pointer;
  &:hover {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.team1 {
  fill: rgba(0, 0, 0, 0);
  cursor: pointer;
  &:hover {
    fill: rgba(255, 255, 255, 0.1);
  }
}

.text {
  font-size: 15px;
}

.bracket {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#row1, #row2, #row3, #row4 {
  display: flex;
  flex-direction: column;
}