<!--<div *ngFor="let tournament of tournaments">
	<button [routerLink]="[tournament.mode,{tournamentId: tournament._id}]" class="btn btn-success">{{tournament.name}}</button>
</div>-->
<div class="row">
	<div class="col-md-6" *ngFor="let tournament of tournaments">
		<div class="tournament" style="background-size: 100%;" [ngStyle]="imgChange(tournament.statusUser, tournament.gameName)">
			<div class="status">
				<i class="fa fa-circle" [ngClass]="statusChange(tournament.status, 'color')"></i>{{statusChange(tournament.status,'text')}}
			</div>
			<div class="title">{{tournament.name}}</div>
			<div class="subTitle">{{tournament.gameName}}</div>
			<div class="content">
				<div class="places"><b>{{tRegUser(tournament)}}/{{tournament.size}}</b></div>
			</div>
			<a class="smallBox" *ngIf="tournament.status != 'on'" (click)="openRegister(tournament)">
				{{chooseMode(tournament, 'text')}} <i class="fa fa-arrow-circle-right"></i>
			</a>
			<a class="smallBox" *ngIf="tournament.status == 'on'" [routerLink]="[chooseMode(tournament, 'router'),{tournamentId: tournament._id}]">
				{{chooseMode(tournament, 'text')}} <i class="fa fa-arrow-circle-right"></i>
			</a>
		</div>
	</div>
</div>

<modal #register>
	<modal-header [show-close]="true">
		<h4 class="modal-title">{{focusTournament.name}}</h4>
	</modal-header>
	<modal-footer style="background-color: #7d7d7d">
		<select *ngIf="focusTournament.playerMode == 'Clan'" class="form-control" id="exampleSelect1" [(ngModel)]="choosenUserClan" (change)="checkClanStatus(focusTournament, $event)">
			<option *ngFor="let chooseClan of userClans" [ngValue]="chooseClan._id">{{chooseClan.name}}</option>
		</select>
		<button type="button" class="btn btn-default" (click)="register.dismiss()">Cancel</button>
		<button *ngIf="focusTournament.inTournament == false" type="button" class="btn btn-success" (click)="saveRegister(focusTournament)">Anmelden</button>
		<button *ngIf="focusTournament.inTournament == true" type="button" class="btn btn-danger" (click)="delRegister(focusTournament)">Abmelden</button>
	</modal-footer>
</modal>
