<div class="horizontal-scroll">
    <table class="table table-hover">
        <thead>
        <tr class="black-muted-bg">
            <th>#</th>
            <th class="align-left">Titel</th>
            <th class="align-left">Text</th>
            <th class="align-left">Pfad</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let download of downloads;" class="no-top-border">
            <td *ngIf="download.download" class="align-left">1</td>
            <td *ngIf="download.download" class="align-left">{{download.title}}</td>
            <td *ngIf="download.download" class="align-left">{{download.content}}</td>
            <td *ngIf="download.download" class="align-left"><a href="{{download.download.path}}">Download</a></td>
        </tr>
        </tbody>
    </table>
</div>
