<simple-notifications [options]="options"></simple-notifications>
<ba-card title="Download erstellen" class="col-md-6">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="createName">Produkt Name</label>
            <input type="text" class="form-control" id="createName" placeholder="download title" [(ngModel)]="createName">
        </div>
        <div class="form-group col-md-4">
            <label for="createPrice">Preis</label>
            <input type="number" class="form-control" id="createPrice" placeholder="download text" [(ngModel)]="createPrice">
        </div>
        <div class="form-group col-md-4">
            <label for="createNumber">Anzahl</label>
            <input type="number" class="form-control" id="createNumber" placeholder="download pfad" [(ngModel)]="createNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="createInfo">Info</label>
        <input type="number" class="form-control" id="createInfo" placeholder="download pfad" [(ngModel)]="createInfo">
    </div>

    <div class="btnDownload">
        <button type="button" (click)="createProduct()" class="btn btn-success">Produkt erstellen</button>
    </div>

</ba-card>
<ba-card title="Download bearbeiten" class="col-md-6">
    <div class="form-group">
        <label for="editChooseDownload">Download auswählen</label>
        <select class="form-control" id="editChooseDownload" [(ngModel)]="id" (ngModelChange)="onChange()">
            <option *ngFor="let product of products" [ngValue]="product._id">{{product.title}}</option>
        </select>
    </div>
</ba-card>

