<simple-notifications [options]="options"></simple-notifications>
<ba-card title="Passwort ändern">
    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div formGroupName="passwords">
            <div class="form-group" [ngClass]="{'has-error': (!passwordForm.valid && passwordForm.touched),
                 'has-success' : (passwordForm.valid && passwordForm.touched)}">
                <input formControlName="password"
                       type="password"
                       class="form-control"
                       id="password"
                       placeholder="New Password">
            </div>
            <div class="form-group"
                 [ngClass]="{'has-error': (!passwordForm.valid && passwordForm.touched),
                 'has-success' : (passwordForm.valid && passwordForm.touched)}">
                <input formControlName="repeatPass"
                       type="password"
                       class="form-control"
                       id="repeat"
                       placeholder="Repeat Password"
                >
            </div>
        </div>
        <p *ngIf="!passwordForm.valid && passwordForm.touched">Passwörter stimmen nicht überein oder zu wenig Zeichen!</p>

        <button type="submit" class="btn btn-warning pull-right" [disabled]="!passwordForm.valid">Passwort ändern</button>
    </form>
</ba-card>




